node_modules
npm-debug.log
.env
.env.local
.env.*.local
build
.DS_Store
.git
.gitignore
README.md
.vscode
.idea
coverage
*.log
.eslintcache
.prettierignore
.dockerignore
Dockerfile
docker-compose*.yml